.TopBar {
    /* width: 80%; */
    height: 100%;
    margin-left: 20%;
    margin-right: 20%;
    color: #2C384A;

}

/* .TopBar h1,
.TopBar hr{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
} */

.Items {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #4B5665;
}

.Items>div {
    display: flex;
}

.Items svg,
.Items span {
    /* margin: 0 5px; */
}

#top-relevent {
    /* margin-left: 100px; */
}

.Items>div>svg {
    margin-right: 5px;
}

.Items>div:last-child {
    margin-left: auto;
}

/* Items list 2 */
/* Items list 2 */
/* Items list 2 */

.Items2>ul {
    list-style: none;
    display: flex;
    gap: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #4B5665;
}

.Items3>ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #5C6874;
}

.Items3>ul>li:first-child,
.Items3>ul>li:nth-child(5) {
    color: #727D87;
}