.related-products-container {
    width: 70%;
    margin: auto;
    margin-bottom: 100px;
}

.related-products-container>p {
    font-size: 32px;
    line-height: 44px;
    color: #2C384A;
    margin-top: 30px;
    margin-bottom: 30px;
}

.related-products-container>div {
    display: flex;
    justify-content: space-between;
}

.signup-container>span {
    width: 400px;
    font-size: 32px;
    line-height: 44px;
    color: #5C6874;
}

.signup-container>.btn-signup {
    /* widows: 100px; */
    height: 50px;
    padding: 0 20px;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    background-color: #1B88F4;
    border-radius: 0 12px 12px 0;
    border: none;
}